$body-bg: #0f0f0f;
$header-color: #202020;
$white-color: #fff;
$black-color: #000;
$main-color: #0a3d62;

// Dashboard Color
$gray-color: #1a1c23;
$gray-light-color: #9e9e9e;
$green-btn-color: #0e9f6e;
$text-color: #f4f5f7;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-h: 60px;
$header-shrink-h: 5rem;

$mobile-w: 600px;
$tablet-w: 1024px;

$border-radius: 30px;

$grid-gutter-width: 20px;

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $font-family: 'Recursive', sans-serif;
// $font-family: 'Open Sans', sans-serif;
